<!--Footer-->
<footer class="page-footer center-on-small-only elegant-color-dark d-print-none">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 ml-auto">
        <h5 class="titles font-bold mt-3 mb-4">About {{ (siteConfig | async)?.groupName }}</h5>
        <p>ETW is an annual tech, industry and enterprise meet up with an agenda of highlighting, and discussing challenges, seeking, creating and showcasing tailored solutions with the aim accelerating economic development.</p>
        <p><small><strong>Disclaimer:</strong> <em>{{ (siteConfig | async)?.groupName }} is an independent Event; our activities and the opinions expressed here should in no way be linked to our partners.</em></small></p>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-bold mt-3 mb-4">Links</h5>
        <ul>
          <li><a [href]="(siteConfig | async)?.groupWebsite" target="_blank">{{ (siteConfig | async)?.groupName }}</a></li>
          <li><a href="http://www.awhere.com/" target="_blank">aWhere</a></li>
          <li><a href="https://moringaschool.com/" target="_blank">Moringa School</a></li>
          <li><a href="https://bunifu.co.ke/" target="_blank">Bunifu Technologies</a></li>
          <li><a href="https://gdgmoi.com/" target="_blank">GDG Moi, Eldoret</a></li>
        </ul>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-bold mt-3 mb-4">Contact</h5>
        <ul>
          <li><a href="mailto:{{ (siteConfig | async)?.eventEmail }}" target="_blank">{{ (siteConfig | async)?.eventEmail }}</a></li>
          <li *ngIf="(siteConfig | async)?.eventTwitter"><a href="https://twitter.com/intent/tweet?text=@{{ (siteConfig | async)?.eventTwitter }}" target="_blank">@{{ (siteConfig | async)?.eventTwitter }}</a></li>
          <li *ngIf="(siteConfig | async)?.twitterLink"><a href="https://twitter.com/intent/tweet?text=@{{ (siteConfig | async)?.twitterLink }}" target="_blank">@{{ (siteConfig | async)?.twitterLink }}</a></li>
        </ul>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-bold mt-3 mb-4">FAQs</h5>
        <ul>
          <li><a [href]="(siteConfig | async)?.groupWebsite" target="_blank">{{ (siteConfig | async)?.groupName }}</a></li>
          <li><a href="" target="_blank">Sisibo Hub</a></li>
          <li><a href="" target="_blank">Code of Conduct</a></li>
        </ul>
      </div>

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Call to action-->
  <div class="call-to-action">
    <ul>
      <li>
        <h5>You want to scale up?</h5>
      </li>
      <li><a [href]="(siteConfig | async)?.ticketURL" target="_blank" class="btn btn-danger">RSVP now</a></li>
    </ul>
  </div>
  <!--/.Call to action-->

  <hr>

  <!--Social buttons-->
  <div class="social-section mb-3">
    <ul>
      <li *ngIf="(siteConfig | async)?.googleLink"><a class="btn-social-all" href="https://plus.google.com/{{ (siteConfig | async)?.googleLink }}" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      <li *ngIf="(siteConfig | async)?.facebookLink"><a class="btn-social-all" href="https://www.facebook.com/{{ (siteConfig | async)?.facebookLink }}" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li *ngIf="(siteConfig | async)?.twitterLink"><a class="btn-social-all" href="https://twitter.com/{{ (siteConfig | async)?.twitterLink }}" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li *ngIf="(siteConfig | async)?.meetupLink"><a class="btn-social-all" href="https://www.meetup.com/{{ (siteConfig | async)?.meetupLink }}" title="Meetup" target="_blank"><i class="fa fa-meetup"></i></a></li>
      <li *ngIf="(siteConfig | async)?.githubLink"><a class="btn-social-all" href="https://github.com/{{ (siteConfig | async)?.githubLink }}" title="GitHub" target="_blank"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      &copy; {{ copyright }} Copyright <a [href]="(siteConfig | async)?.groupWebsite" target="_blank">{{ (siteConfig | async)?.groupName }}</a> Based on the <a href="https://github.com/mayeedwin/DeLorean-v2" target="_blank">DeLorean Project - Maye</a>
    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
