<!--Footer-->
<footer class="page-footer center-on-small-only elegant-color-darkc d-print-none">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 ml-auto">
        <h5 class="titles font-bold mt-3 mb-4">About {{ (siteConfig | async)?.groupName }}</h5>
        <p>We are a Google Developer Community that meets regularly to discuss the latest Google Technologies, Tools, SDKs, APIs, and much more.</p>
        <p><small><strong>Disclaimer:</strong> <em>{{ (siteConfig | async)?.groupName }} is an independent group; our activities and the opinions expressed here should in no way be linked to Google, the corporation.</em></small></p>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-bold mt-3 mb-4">Links</h5>
        <ul>
          <li><a [href]="(siteConfig | async)?.groupWebsite" target="_blank">{{ (siteConfig | async)?.groupName }}</a></li>
            
          <li><a href="https://developers.google.com/" target="_blank">Google Developers</a></li>
          <li><a href="https://www.womentechmakers.com/" target="_blank">Women Techmakers</a></li>
          <li><a href="https://github.com/mayeedwin/" target="_blank">Maye Edwin</a></li>


        </ul>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-bold mt-3 mb-4">Contact</h5>
        <ul>
          <li><a href="mailto:{{ (siteConfig | async)?.eventEmail }}" target="_blank">{{ (siteConfig | async)?.eventEmail }}</a></li>
          <li *ngIf="(siteConfig | async)?.eventTwitter"><a href="https://twitter.com/intent/tweet?text=@{{ (siteConfig | async)?.eventTwitter }}" target="_blank">@{{ (siteConfig | async)?.eventTwitter }}</a></li>
          <li *ngIf="(siteConfig | async)?.twitterLink"><a href="https://twitter.com/intent/tweet?text=@{{ (siteConfig | async)?.twitterLink }}" target="_blank">@{{ (siteConfig | async)?.twitterLink }}</a></li>
        </ul>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-bold mt-3 mb-4">FAQs</h5>
        <ul>
      
<li>
<a href="https://devfestnairobi.gdgkenya.org" target="_blank">DevFest Nairobi</a>

</li>
    <li><a href="https://devfestnairobi.gdgkenya.org" target="_blank">GDG Nairobi</a></li>

          <li><a href="https://developers.google.com/events/devfest/" target="_blank">GDG DevFest Season</a></li>
          <li><a href="https://developers.google.com/groups/guidelines/" target="_blank">GDG Code of Conduct</a></li>
        </ul>
      </div>

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Call to action-->
  <div class="call-to-action">
    <ul>
      <li>
        <h5>Reserve your ticket today!</h5>
      </li>
      <li><a [href]="(siteConfig | async)?.ticketURL" target="_blank" class="btn btn-danger">Buy Ticket</a></li>
    </ul>
  </div>
  <!--/.Call to action-->

  <hr>

  <!--Social buttons-->
  <div class="social-section mb-3">
    <ul>
      <li *ngIf="(siteConfig | async)?.googleLink"><a class="btn-social-all" href="https://plus.google.com/{{ (siteConfig | async)?.googleLink }}" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      <li *ngIf="(siteConfig | async)?.facebookLink"><a class="btn-social-all" href="https://www.facebook.com/{{ (siteConfig | async)?.facebookLink }}" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li *ngIf="(siteConfig | async)?.twitterLink"><a class="btn-social-all" href="https://twitter.com/{{ (siteConfig | async)?.twitterLink }}" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li *ngIf="(siteConfig | async)?.meetupLink"><a class="btn-social-all" href="https://www.meetup.com/{{ (siteConfig | async)?.meetupLink }}" title="Meetup" target="_blank"><i class="fa fa-meetup"></i></a></li>
      <li *ngIf="(siteConfig | async)?.githubLink"><a class="btn-social-all" href="https://github.com/{{ (siteConfig | async)?.githubLink }}" title="GitHub" target="_blank"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      &copy; {{ copyright }} Copyright <a [href]="(siteConfig | async)?.groupWebsite" target="_blank">{{ (siteConfig | async)?.groupName }}</a> Based on the <a href="https://github.com/mayeedwin/DeloreanKenyaV2" target="_blank">DeLorean Project Kenya</a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
