.social-section{
  text-align: center;
}

.social-section ul li{
  display: inline-block;
  padding: 15px;
  font-size: 30px;
}

.titles {
  text-transform: uppercase;
}

footer.page-footer .footer-copyright {
  line-height: normal;
  padding-top: 10px;
}
