<app-top-menu></app-top-menu>

<div class="between-sections"><br><br></div>
<div class="container">
  <section class="section" style="padding-bottom: 45px;">
    <h1 class="section-heading">Users</h1>
    <div class="row">
      <section class="col-md-12">
        <table class="table table-sm table-hover table-bordered">
          <thead class="blue-grey lighten-4">
            <tr>
              <th class="text-center">#</th>
              <th>User UID</th>
              <th>Display Name</th>
              <th>Email</th>
              <th>Is Admin?</th>
              <th style="width: 20%;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index;">
              <th class="text-center">{{ prevKeys?.length > 0 ? (prevKeys?.length * offset) + i + 1 : i + 1 }}</th>
              <td>{{ user.$key }}</td>
              <td>{{ user.displayName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ isAdmin(user.$key) || 'false' }}</td>
              <td><button class="btn btn-sm btn-primary" (click)="updateUser(user.$key)"><i class="fa fa-refresh"></i> Toggle Access</button></td>
            </tr>
            <tr>
              <td colspan="100%" class="blue-grey lighten-4">
                <table class="pull-right">
                  <tr class="blue-grey lighten-4">
                    <td style="border: 0; padding: 12px 15px;">
                      {{ prevKeys?.length > 0 ? (prevKeys?.length * offset) + 1 : 1 }}
                      -
                      {{ prevKeys?.length > 0 ? (prevKeys?.length * offset) + users.length : users.length }}
                      &nbsp;of&nbsp;
                      {{ (usersList | async)?.length }}
                    </td>
                    <td style="border: 0; padding: 0 15px;">
                      <button class="btn btn-sm btn-primary waves-light" mdbRippleRadius (click)="prevPage()" [disabled]="!prevKeys?.length" title="Previous Page">
                        <strong><i class="fa fa-arrow-left"></i></strong>
                      </button>
                    </td>
                    <td style="border: 0; padding: 0 15px;">
                      <button class="btn btn-sm btn-primary waves-light" mdbRippleRadius (click)="nextPage()" [disabled]="!nextKey" title="Next Page">
                        <strong><i class="fa fa-arrow-right"></i></strong>
                      </button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </section>
</div>
<div class="between-sections"><br><br></div>
