.show-modal {
  cursor: pointer;
}

.feedback {
  clear: both;
  height: 150px;
  overflow: auto;
  text-align: left;
  border: 1px solid silver;
  padding: 5px;
}

.modal-body ul li {
  display: inline;
}
