export const firebaseConfig = {
  apiKey: 'AIzaSyC3QMww9wVQECb1mdmbSh3cOlARsEuyjA0',
  authDomain: 'eventsbymaye.firebaseapp.com',
  databaseURL: 'https://eventsbymaye.firebaseio.com',
  projectId: 'eventsbymaye',
  storageBucket: 'eventsbymaye.appspot.com',
  messagingSenderId: '332910327270',
  // Firebase node which your data will be stored (ex. 2017)
  devfestYear: '2017',
  // Your Google Maps API key
  mapsKey: 'AIzaSyCdOcBTPu2_d-6mB47t_dcchX7Mc8lA01U '
};
