export const firebaseConfig = {
  apiKey: 'AIzaSyCZZ1roV6MuTMLRFEl6HKyPuif-U-7QX3E',
  authDomain: 'mayeedwin1.firebaseapp.com',
  databaseURL: 'https://mayeedwin1.firebaseio.com',
  projectId: 'mayeedwin1',
  storageBucket: 'mayeedwin1.appspot.com',
  messagingSenderId: '191343589227',
  // Firebase node which your data will be stored (ex. 2017)
  devfestYear: '2017',
  // Your Google Maps API key
  mapsKey: 'AIzaSyB_UA8WPG-tI61hGS8K0ffNchjSlZuh7B8 '
};
