export const firebaseConfig = {
  apiKey: '<API_KEY>',
  authDomain: '<PROJECT_ID>.firebaseapp.com',
  databaseURL: 'https://<DATABASE_NAME>.firebaseio.com',
  projectId: '<PROJECT_ID>',
  storageBucket: '<BUCKET>.appspot.com',
  messagingSenderId: '<SENDER_ID>',
  // Firebase node which your data will be stored (ex. 2017)
  devfestYear: '2017',
  // Your Google Maps API key
  mapsKey: '<MAPS_API_KEY>'
};
