// Colors
$background: #272c33;
$email:      #4b515d;
$google:     #dd4B39;
$facebook:   #3b5998;
$twitter:    #55acee;
$linkedin:   #0082CA;
$github:     #333333;
$white-text: #ffffff;
$grey-text:  #6e6e6e;
