<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark fixed-top scrolling-navbar d-print-none"
            *ngIf="siteConfig | async as config">
  <logo><a class="navbar-brand" routerLink="/home">{{ config?.eventName }}</a></logo>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/speakers">Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/sessions">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/sponsors">Sponsors</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link waves-light" mdbRippleRadius (click)="userLogin()">Login</a>
      </li>
      <li class="nav-item dropdown btn-group" *ngIf="isLoggedIn()" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Account<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <h6 class="dropdown-header" *ngIf="isAdmin()">DeLorean Admin</h6>
          <a class="dropdown-item waves-light" *ngIf="isAdmin()" routerLink="/admin/config">Site Config</a>
          <a class="dropdown-item waves-light" *ngIf="isAdmin()" routerLink="/admin/tickets">Ticket Config</a>
          <a class="dropdown-item waves-light" *ngIf="isAdmin()" routerLink="/admin/surveys">Survey Data</a>
          <a class="dropdown-item waves-light" *ngIf="isAdmin()" routerLink="/admin/users">Users Admin</a>
          <div class="divider dropdown-divider" *ngIf="isAdmin()"></div>
          <a class="dropdown-item waves-light" routerLink="/profile">My Profile</a>
          <a class="dropdown-item waves-light" routerLink="/my-schedule">My Schedule</a>
          <a class="dropdown-item waves-light" (click)="userLogout()">Logout</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [href]="config?.ticketURL" target="_blank" rel="noopener">Register</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->
