// .top-menu li:first-child {
//   margin-left: 40px;
// }

.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:focus,
.dropdown .dropdown-menu .dropdown-item:hover {
  color: #1d1e1f !important;
  background-color: #e7e7e7;
}
