<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark fixed-top scrolling-navbar">
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" routerLink="/home">{{ (siteConfig | async)?.eventName || 'DevFest 2017' }}</a></logo>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/speakers">Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/sessions">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/sponsors">Sponsors</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link waves-light" mdbRippleRadius (click)="userLogin()">Login</a>
      </li>
      <li class="nav-item dropdown btn-group" *ngIf="isLoggedIn()" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Profile<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" *ngIf="isAdmin()" routerLink="/config">Site Config</a>
          <a class="dropdown-item waves-light" *ngIf="isAdmin()" routerLink="/admin">Users Admin</a>
          <a class="dropdown-item waves-light" routerLink="/profile">My Account</a>
          <a class="dropdown-item waves-light" (click)="userLogout()">Logout</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [href]="(siteConfig | async)?.speakerURL" target="_blank">Buy Ticket</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
