<app-top-menu></app-top-menu>

<div class="between-sections"><br><br></div>
<div class="container">
  <!--Section: Schedule-->
  <section class="section">
    <form autocomplete="off" novalidate>
      <legend>Add Ticket</legend>
      <br>
      <div class="md-form">
        <input mdbActive type="text" id="name" class="form-control" [(ngModel)]="ticket.name" name="name">
        <label for="name">Name: <em>(ex. Early Bird, General Admission, Student, etc.)</em></label>
      </div>
      <div class="md-form">
        <input mdbActive type="number" id="price" class="form-control" [(ngModel)]="ticket.price" name="price">
        <label for="price">Price:</label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="description1" class="form-control" [(ngModel)]="ticket.description1" name="description1">
        <label for="description1">Description 1: <em>(ex. Available until 9/18/16)</em></label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="description2" class="form-control" [(ngModel)]="ticket.description2" name="description2">
        <label for="description2">Description 2: <em>(ex. Parking Pass)</em></label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="description3" class="form-control" [(ngModel)]="ticket.description3" name="description3">
        <label for="description3">Description 3: <em>(ex. Student ID Required)</em></label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="description4" class="form-control" [(ngModel)]="ticket.description4" name="description4">
        <label for="description4">Description 4: <em>(ex. Swag &amp; Prizes)</em></label>
      </div>
    </form>
    <br><br>
    <div class="text-center">
      <button class="btn btn-primary" (click)="save()">Save Changes</button>
    </div>
  </section>
</div>
<div class="between-sections"><br><br></div>
