<top-menu></top-menu>

<div class="container">
  <!--Section: Schedule-->
  <section class="section">
    <!--Section heading-->
    <h1 class="section-heading">Users</h1>
    <div class="row">
      <section class="col-md-12">
        <table class="table table-sm table-hover">
          <thead class="blue-grey lighten-4">
            <tr>
              <th>#</th>
              <th>Display Name</th>
              <th>Email</th>
              <th>Is Admin?</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="user-list">
            <tr *ngFor="let user of (users | async); let i = index;">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ user.displayName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ isAdmin(user.$key) || 'false' }}</td>
              <td><button class="btn btn-sm btn-primary" (click)="updateUser(user.$key)"><i class="fa fa-refresh"></i></button></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </section>
</div>
