<top-menu></top-menu>

<div class="between-sections"><br><br></div>
<div class="container">
  <!--Section: Speakers-->
  <section class="section team-section pb-3">
    <h1 class="section-heading">Our Amazing Speakers</h1>
    <div class="text-center" *ngIf="isLoggedIn() && isAdmin()">
      <button type="button" class="btn btn-success" routerLink="/speakers/new">Create Speaker</button>
    </div>
    <div class="row text-center">
      <div *ngFor="let speaker of speakers | async" class="col-lg-3 col-md-6 mb-r" style="padding-left: 40px; padding-right: 40px; padding-bottom: 50px;">
        <div class="avatar">
          <img *ngIf="!speaker.photoURL" src="../../../assets/img/user-default.png" class="rounded-circle z-depth-1" title="{{ speaker.name }}" alt="{{ speaker.name }}">
          <img *ngIf="speaker.photoURL" [src]="speaker.photoURL" class="rounded-circle z-depth-1" title="{{ speaker.name }}" alt="{{ speaker.name }}">
        </div>
        <button type="button" class="btn btn-sm btn-primary" *ngIf="isLoggedIn() && isAdmin()" routerLink="/speakers/{{ speaker.$key }}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-sm btn-danger" *ngIf="isLoggedIn() && isAdmin()" (click)="deleteSpeaker(speaker)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        <h4 [innerHTML]="speaker.name"></h4>
        <h5 [innerHTML]="speaker.title"></h5>
        <p [innerHTML]="speaker.description"></p>
        <a *ngIf="speaker.googleLink" class="icons-sm gplus-ic" href="https://plus.google.com/{{ speaker.googleLink }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <a *ngIf="speaker.facebookLink" class="icons-sm fb-ic" href="https://www.facebook.com/{{ speaker.facebookLink }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a *ngIf="speaker.twitterLink" class="icons-sm tw-ic" href="https://twitter.com/{{ speaker.twitterLink }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a *ngIf="speaker.linkedinLink" class="icons-sm li-ic" href="https://www.linkedin.com/{{ speaker.linkedinLink }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a *ngIf="speaker.githubLink" class="icons-sm git-ic" href="https://github.com/{{ speaker.githubLink }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a *ngIf="speaker.websiteLink" class="icons-sm email-ic" href="{{ speaker.websiteLink }}" target="_blank"><i class="fa fa-chrome" aria-hidden="true"></i></a>
      </div>
    </div>
    <div *ngIf="(speakers | async)?.length === 0" class="text-center">
      <h5>Stay tuned! Speakers are being added soon!</h5>
    </div>
  </section>
  <!--Section: Speakers-->
</div>
<div class="between-sections"><br><br></div>
