<app-top-menu></app-top-menu>

<div class="between-sections"><br><br></div>
<div class="container">
  <!--Section: Sponsor-->
  <section class="section">
    <form autocomplete="off" novalidate>
      <legend>Edit Sponsor</legend>
      <br>
      <div class="md-form">
        <input mdbActive type="text" id="name" class="form-control" [(ngModel)]="sponsor.name" name="name">
        <label for="name" [class.active]="sponsor.name && sponsor.name.length > 0">Name:</label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="websiteLink" class="form-control" [(ngModel)]="sponsor.websiteLink" name="websiteLink">
        <label for="websiteLink" [class.active]="sponsor.websiteLink && sponsor.websiteLink.length > 0">Website:</label>
      </div>
      <div class="form-group">
        <label for="logoURL">Logo:</label>
        <input type="file" class="form-control-file" id="logoURL" accept="image/jpeg,image/jpg,image/png,image/x-png" aria-describedby="Sponsor Logo">
      </div>
      <div style="padding-bottom: 25px;">
        <label for="section">Level:</label>
        <select class="mdb-select" id="section" [(ngModel)]="sponsor.level" name="level">
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let level of (levels | async)" value="{{ level.$key }}">{{ level.name }}</option>
        </select>
      </div>
    </form>
    <br><br>
    <div class="text-center">
      <button class="btn btn-primary" (click)="update()">Save Changes</button>
    </div>
  </section>
</div>
