<app-top-menu></app-top-menu>

<div class="between-sections"><br><br></div>
<div class="container">
  <!--Section: Profile-->
  <section class="section">
    <h1 class="section-heading">My Profile</h1>
    <div class="author-box" *ngIf="profile | async as profile">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <img [src]="profile?.photoURL" class="img-fluid rounded-circle z-depth-2">
        </div>
        <div class="col-xs-12 col-sm-10" style="padding-top: 45px;">
          <h3>
            <strong>{{ profile?.displayName }}</strong>
          </h3>
          <p>
            {{ profile?.email }}<br/>
            <small>Logged in with: {{ profile?.provider }}</small>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Profile-->
</div>
<div class="between-sections"><br><br></div>
