@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/delorean.scss";
@import "./styles/loading.scss";

.intro-1 {
  background: url("assets/img/hero.png") no-repeat center center;
  background-size: cover;
}

.elegant-color-darkb
{
  background-color: #2196F3;
}

.elegant-color-darkc

{
  background-color: #2196F3;
}