<header>

  <top-menu></top-menu>

  <!--Intro Section-->
  <section class="view intro-1 hm-black-strong">
    <div class="full-bg-img flex-center">
      <div class="container">
        <ul>
          <li>
            <h1 class="h1-responsive font-bold">{{ (siteConfig | async)?.eventName || 'DevFest 2017' }}</h1>
          </li>
          <li>
            <p class="lead mt-4 mb-5">
              {{ ((siteConfig | async)?.eventDate | date:'fullDate') || 'Saturday, February 18, 2017' }}<br/>
              <strong>@&nbsp;{{ (siteConfig | async)?.venueName || 'Googleplex' }}</strong>
            </p>
            <p class="lead mt-4 mb-5">
              A 100% community organized developer conference with industry experts presenting on exciting topics!
            </p>
          </li>
          <li>
            <a target="_blank" [href]="(siteConfig | async)?.ticketURL" class="btn btn-primary btn-lg" rel="nofollow">Reserve Your Seat</a>
            <a target="_blank" [href]="(siteConfig | async)?.speakerURL" class="btn btn-default btn-lg" rel="nofollow">Become A Speaker</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

</header>

<div class="container">
  <div class="divider-new pt-5">
    <h2 class="h2-responsive">About us</h2>
  </div>

  <!--Section: About-->
  <section id="about" class="text-center">
    <p>
      {{ (siteConfig | async)?.eventName || 'DevFest 2017' }} is a 100% community organized developer conference with industry experts<br/>
      presenting on exciting topics including mobile, web, cloud, virtual reality, machine learning, and much more!
    </p>
    <p>
      A full-day conference featuring awesome world-class speakers from technology leaders<br/>
      within the community as well as Google product team&nbsp;developers.
    </p>
  </section>
  <!--Section: About-->

  <div class="divider-new pt-5" *ngIf="(speakers | async)?.length > 0">
    <h2 class="h2-responsive">Featured Speakers</h2>
  </div>

  <!--Section: Featured Speakers-->
  <section class="section team-section" *ngIf="(speakers | async)?.length > 0">
    <div class="row text-center">
      <div *ngFor="let speaker of speakers | async" class="col-lg-3 col-md-6 mb-r" style="padding-left: 40px; padding-right: 40px;">
        <div class="avatar">
          <img *ngIf="!speaker.photoURL" src="../../assets/img/user-default.png" class="rounded-circle z-depth-1" title="{{ speaker.name }}" alt="{{ speaker.name }}">
          <img *ngIf="speaker.photoURL" [src]="speaker.photoURL" class="rounded-circle z-depth-1" title="{{ speaker.name }}" alt="{{ speaker.name }}">
        </div>
        <h4><span [innerHTML]="speaker.name"></span></h4>
        <h6><span [innerHTML]="speaker.title"></span><br/><strong>@&nbsp;<span [innerHTML]="speaker.company"></span></strong></h6>
      </div>
    </div>
  </section>
  <!--Section: Featured Speakers-->

  <div class="divider-new" id="the-venue">
    <h2 class="h2-responsive">The Venue</h2>
  </div>

  <!--Section: The Venue-->
  <section>
    <div class="row">
      <!--First column-->
      <div class="col-md-5">
        <h2 class="h2-responsive">{{ (siteConfig | async)?.venueName || 'Googleplex' }}</h2>
        <hr>
        <p [innerHTML]="((siteConfig | async)?.venueDescription || tempDesc)"></p>
      </div>
      <!--/First column-->

      <!--Second column-->
      <div class="col-md-7">
        <div class="card">
          <img style="max-height: 450px;" *ngIf="!(siteConfig | async)?.venuePhoto" src="../../assets/img/Googleplex.jpg" alt="{{ (siteConfig | async)?.venueName || 'Googleplex' }}" title="{{ (siteConfig | async)?.venueName || 'Googleplex' }}"/>
          <img style="max-height: 450px;" *ngIf="(siteConfig | async)?.venuePhoto" [src]="(siteConfig | async)?.venuePhoto" alt="{{ (siteConfig | async)?.venueName || 'Googleplex' }}" title="{{ (siteConfig | async)?.venueName || 'Googleplex' }}"/>
        </div>
      </div>
      <!--/Second column-->
    </div>
  </section>
  <!--/Section: The Venue-->

  <div class="divider-new">
    <h2 class="h2-responsive">Location</h2>
  </div>

  <!--Section: Location-->
  <section id="location pb-5">
    <div class="row">
      <!--First column-->
      <div class="col-md-9 mb-5">
        <div id="map-container" class="z-depth-1" style="height: 300px">
          <agm-map style="height: 300px" [latitude]="( (siteConfig | async)?.venueGeoData?.lat || 37.421655 )" [longitude]="( (siteConfig | async)?.venueGeoData?.lng || -122.085637 )" [scrollwheel]="false" [zoom]="18">
            <agm-marker [latitude]="( (siteConfig | async)?.venueGeoData?.lat || 37.421655 )" [longitude]="( (siteConfig | async)?.venueGeoData?.lng || -122.085637 )"></agm-marker>
          </agm-map>
        </div>
      </div>
      <!--/First column-->

      <!--Second column-->
      <div class="col-md-3">
        <div class="card blue-grey lighten-1 text-center z-depth-2" style="cursor: pointer;" (click)="openMaps()">
          <div class="card-body">
            <p class="col white-text text-center mb-0">
              <i class="fa fa-map-marker fa-lg"></i><br/>
              <strong>{{ (siteConfig | async)?.venueName || 'Googleplex' }}</strong><br/>
              {{ (siteConfig | async)?.venueAddress || '1600 Amphitheatre Pkwy, Mountain View, CA 94043' }}
            </p>
          </div>
        </div>
      </div>
      <!--/Second column-->
    </div>
  </section>
  <!--Section: Contact-->

  <div class="divider-new pt-5">
    <h2 class="h2-responsive">Pricing</h2>
  </div>

  <!--Section: Pricing-->
  <section id="pricing">
    <div class="row pt-3">
      <!--First columnn-->
      <div class="col-lg-3 mb-r">
        <!--Card-->
        <div class="card">
          <div class="card-header cyan white-text text-center">
            <h1>$35</h1>
            <h6>Early Bird</h6>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Text-->
            <p class="card-text text-center">
              <i class="fa fa-check"></i> Available until November&nbsp;18th,&nbsp;2016<br/><br/>
              <i class="fa fa-check"></i> Parking Pass<br/><br/>
              <br/><br/>
              <a class="btn btn-primary waves-effect waves-light" href="https://devfestkc-2017.eventbrite.com" target="_blank">Buy Ticket</a>
            </p>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--First columnn-->

      <!--Second columnn-->
      <div class="col-lg-3 mb-r">
        <!--Card-->
        <div class="card">
          <div class="card-header blue white-text text-center">
            <h1>$50</h1>
            <h6>General Admission</h6>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Text-->
            <p class="card-text text-center">
              <i class="fa fa-check"></i> Available until February&nbsp;18th,&nbsp;2017<br/><br/>
              <i class="fa fa-check"></i> Parking Pass<br/><br/>
              <br/><br/>
              <a class="btn btn-primary waves-effect waves-light" href="https://devfestkc-2017.eventbrite.com" target="_blank">Buy Ticket</a>
            </p>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--Second columnn-->

      <!--Third columnn-->
      <div class="col-lg-3 mb-r">
        <!--Card-->
        <div class="card">
          <div class="card-header indigo white-text text-center">
            <h1>$40</h1>
            <h6>Student Admission</h6>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Text-->
            <p class="card-text text-center">
              <i class="fa fa-check"></i> Available until February&nbsp;18th,&nbsp;2017<br/><br/>
              <i class="fa fa-check"></i> Student ID Required<br/><br/>
              <i class="fa fa-check"></i> Parking Pass<br/><br/>
              <a class="btn btn-primary waves-effect waves-light" href="https://devfestkc-2017.eventbrite.com" target="_blank">Buy Ticket</a>
            </p>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--Third columnn-->

      <!--Forth columnn-->
      <div class="col-lg-3 mb-r">
        <!--Card-->
        <div class="card">
          <div class="card-header deep-purple white-text text-center">
            <h1>$40</h1>
            <h6>Large Groups</h6>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Text-->
            <p class="card-text text-center">
              <i class="fa fa-check"></i> Available until February&nbsp;18th,&nbsp;2017<br/><br/>
              <i class="fa fa-check"></i> Groups of 15+ attendees<br/><br/>
              <i class="fa fa-check"></i> Parking Pass<br/><br/>
              <a class="btn btn-primary waves-effect waves-light" href="https://devfestkc-2017.eventbrite.com" target="_blank">Buy Ticket</a>
            </p>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--Fourth columnn-->
    </div>

  </section>
  <!--/Section: Pricing-->

  <div class="divider-new pt-5" *ngIf="(sponsors | async)?.length > 0">
    <h2 class="h2-responsive">Sponsors</h2>
  </div>

  <!--Section: Sponsors-->
  <section class="section" *ngIf="(sponsors | async)?.length > 0">
    <div class="col sponsors">
      <h4>We partner with some of the<br/>world's most innovative brands.</h4>
      <a class="btn btn-primary waves-light" [href]="(siteConfig | async)?.sponsorURL" target="_blank">Become a Sponsor</a>
    </div>
    <div class="col sponsors" *ngFor="let level of levels | async">
      <h3 style="font-weight: bold;">
        {{ level.name }}
      </h3>
      <hr style="width: 60%;" />
      <br/>
      <div class="row">
        <ng-container *ngFor="let sponsor of sponsors | async">
          <ng-container *ngIf="level.$key === sponsor.level">
            <span class="col-md-6" style="height: 125px; padding: 20px;">
                <a [href]="sponsor.websiteLink" target="_blank">
                  <img [src]="sponsor.logoURL" class="sponsor-img" title="{{ sponsor.name }}" alt="{{ sponsor.name }}" />
                </a>
              </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>
  <!--Section: Featured Speakers-->
</div>
