<header>

  <top-menu></top-menu>

  <!--Intro Section-->
  <section class="view intro-1 hm-black-strong">
    <div class="full-bg-img flex-center">
      <div class="container">
        <ul>
          <li>
            <h1 class="h1-responsive font-bold">{{ (siteConfig | async)?.eventName }}</h1>
          </li>
          <li>
            <p class="lead mt-4 mb-5">
              {{ ((siteConfig | async)?.eventDate | date:'fullDate') }}<br/>
              <strong>@&nbsp;{{ (siteConfig | async)?.venueName }}</strong>
            </p>
            <p class="lead mt-4 mb-5">
              A 100% community organized developer conference with industry experts presenting on exciting topics!
            </p>
          </li>
          <li>
            <a target="_blank" [href]="(siteConfig | async)?.ticketURL" class="btn btn-primary btn-lg" rel="nofollow">Reserve Your Seat</a>
            <a *ngIf="(siteConfig | async)?.speakerURL" target="_blank" [href]="(siteConfig | async)?.speakerURL" class="btn btn-default btn-lg" rel="nofollow">Become A Speaker</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

</header>

<div class="container">
  <div class="divider-new pt-5">
    <h2 class="h2-responsive">About</h2>
  </div>

  <!--Section: About-->
  <section id="about" class="text-center">
    <p>
      <strong>Google Developer Group DevFests</strong> are the largest Google related events in the world! Each DevFest is carefully
      crafted for you by your local GDG community to bring in awesome speakers, great topics, and lots fun! While no two events
      will be exactly alike, each GDG DevFest will, at its core, be powered by a shared belief that when developers come together
      to exchange ideas, amazing things&nbsp;can&nbsp;happen!
    </p>
    <p>
      <strong>{{ (siteConfig | async)?.eventName }}</strong> is a 100% community organized full-day developer conference featuring awesome
      world-class speakers from technology leaders within the community as well as Google product team&nbsp;developers.
    </p>
  </section>
  <!--Section: About-->

  <div class="divider-new pt-5" *ngIf="(speakers | async)?.length > 0">
    <h2 class="h2-responsive">Featured Speakers</h2>
  </div>

  <!--Section: Featured Speakers-->
  <section class="section team-section" *ngIf="(speakers | async)?.length > 0">
    <div class="row text-center">
      <div *ngFor="let speaker of speakers | async" class="col-lg-3 col-md-6 mb-r" style="padding-left: 40px; padding-right: 40px; margin: 0 auto;">
        <div class="avatar" title="{{ speaker.name }}" alt="{{ speaker.name }}">
          <img *ngIf="!speaker.photoURL" class="rounded-circle z-depth-1" style="background-image: url('../../../assets/img/user-default.png')">
          <img *ngIf="speaker.photoURL" class="rounded-circle z-depth-1" [ngStyle]="{'background-image': 'url(' + speaker.photoURL + ')'}">
        </div>
        <h4><span [innerHTML]="speaker.name"></span></h4>
        <h6><span [innerHTML]="speaker.title"></span><br/><strong *ngIf="speaker.company">@&nbsp;<span [innerHTML]="speaker.company"></span></strong></h6>
      </div>
    </div>
  </section>
  <!--Section: Featured Speakers-->

  <div class="divider-new" id="the-venue" *ngIf="(siteConfig | async)?.venueName">
    <h2 class="h2-responsive">The Venue</h2>
  </div>

  <!--Section: The Venue-->
  <section *ngIf="(siteConfig | async)?.venueName">
    <div class="row">
      <div class="col-md-5">
        <h2 class="h2-responsive">{{ (siteConfig | async)?.venueName }}</h2>
        <hr>
        <p [innerHTML]="((siteConfig | async)?.venueDescription)"></p>
      </div>
      <div class="col-md-7">
        <div class="card">
          <img class="venue-photo" *ngIf="(siteConfig | async)?.venuePhoto" [src]="(siteConfig | async)?.venuePhoto" alt="{{ (siteConfig | async)?.venueName }}" title="{{ (siteConfig | async)?.venueName }}"/>
        </div>
      </div>
    </div>
  </section>
  <!--/Section: The Venue-->

  <div class="divider-new" *ngIf="(siteConfig | async)?.venueGeoData">
    <h2 class="h2-responsive">Location</h2>
  </div>

  <!--Section: Location-->
  <section id="location pb-5" *ngIf="(siteConfig | async)?.venueGeoData">
    <div class="row">
      <div class="col-md-9 mb-5">
        <div id="map-container" class="z-depth-1" style="height: 300px">
          <agm-map style="height: 300px" [latitude]="( (siteConfig | async)?.venueGeoData?.lat )" [longitude]="( (siteConfig | async)?.venueGeoData?.lng )" [scrollwheel]="false" [zoom]="18">
            <agm-marker [latitude]="( (siteConfig | async)?.venueGeoData?.lat )" [longitude]="( (siteConfig | async)?.venueGeoData?.lng )"></agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com/maps/search/?api=1&query={{ (siteConfig | async)?.venueAddress }}" target="_blank">
          <div class="card location-card blue-grey lighten-5 text-center z-depth-2">
            <div class="card-body">
              <p class="col text-center mb-0">
                <i class="fa fa-map-marker fa-lg"></i><br/>
                <strong>{{ (siteConfig | async)?.venueName }}</strong><br/>
                {{ (siteConfig | async)?.venueAddress }}
              </p>
              <img src="./../../assets/img/marker.png"/>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!--Section: Location-->

  <div class="divider-new pt-5" *ngIf="(tickets | async)?.length > 0">
    <h2 class="h2-responsive">Pricing</h2>
  </div>

  <!--Section: Pricing-->
  <section class="section" *ngIf="(tickets | async)?.length > 0">
    <div class="row pt-3">
      <div class="mb-r" *ngFor="let ticket of tickets | async; let i = index;" [ngClass]="((tickets | async)?.length > 3) ? 'col-lg-3' : 'col-lg-4'">
        <div class="card" *ngIf="ticket.active">
          <div class="card-header white-text text-center" [ngClass]="styles[i]">
            <h1 class="dollar">{{ ticket.price }}</h1>
            <h6>{{ ticket.name }}</h6>
          </div>
          <div class="card-body">
            <div class="card-text text-center">
              <span *ngIf="ticket.description1">
                <i class="fa fa-check"></i>&nbsp;<span [innerHTML]="ticket.description1"></span>
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="ticket.description2">
                <i class="fa fa-check"></i>&nbsp;<span [innerHTML]="ticket.description2"></span>
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="ticket.description3">
                <i class="fa fa-check"></i>&nbsp;<span [innerHTML]="ticket.description3"></span>
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="ticket.description4">
                <i class="fa fa-check"></i>&nbsp;<span [innerHTML]="ticket.description4"></span>
              </span>
              <span *ngIf="!ticket.description1">
                &nbsp;
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="!ticket.description2">
                &nbsp;
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="!ticket.description3">
                &nbsp;
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="!ticket.description4">
                &nbsp;
              </span>
              <div class="text-center ticket-button">
                <button type="button" class="btn btn-primary waves-light" [href]="(siteConfig | async)?.ticketURL">Buy Ticket</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!--/Section: Pricing-->

  <div class="divider-new pt-5" *ngIf="(sponsors | async)?.length > 0">
    <h2 class="h2-responsive">Sponsors</h2>
  </div>

  <!--Section: Sponsors-->
  <section class="section" *ngIf="(sponsors | async)?.length > 0">
    <div class="col sponsors">
      <h4>We partner with some of the<br/>world's most innovative brands.</h4>
      <a *ngIf="(siteConfig | async)?.sponsorURL" class="btn btn-primary waves-light" [href]="(siteConfig | async)?.sponsorURL" target="_blank">Become a Sponsor</a>
    </div>
    <div class="col sponsors" *ngFor="let level of levels | async">
      <h3 style="font-weight: bold;">
        {{ level.name }}
      </h3>
      <hr style="width: 60%;" />
      <br/>
      <div class="row">
        <ng-container *ngFor="let sponsor of sponsors | async">
          <ng-container *ngIf="level.$key === sponsor.level">
            <span class="col-md-6" style="padding: 20px;">
              <a [href]="sponsor.websiteLink" target="_blank">
                <img [src]="sponsor.logoURL" class="sponsor-img" title="{{ sponsor.name }}" alt="{{ sponsor.name }}" />
              </a>
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>
  <!--Section: Sponsors-->
</div>
