<app-top-menu></app-top-menu>

<div class="between-sections"><br><br></div>
<div class="container">
  <!--Section: Speaker-->
  <section class="section">
    <form autocomplete="off" novalidate>
      <legend>Add Speaker</legend>
      <br>
      <div class="md-form">
        <input mdbActive type="text" id="name" class="form-control" [(ngModel)]="speaker.name" name="name">
        <label for="name">Speaker Name:</label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="title" class="form-control" [(ngModel)]="speaker.title" name="title">
        <label for="title">Job Title:</label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="company" class="form-control" [(ngModel)]="speaker.company" name="company">
        <label for="company">Company:</label>
      </div>
      <div class="md-form">
        <textarea mdbActive type="text" id="description" class="-textarea md-textarea-auto form-control" style="height: 100px" [(ngModel)]="speaker.description" name="description"></textarea>
        <label for="description">Speaker Bio:</label>
      </div>
      <div class="form-group" style="padding-bottom: 25px;">
        <label for="photoURL">Speaker Photo:</label>
        <input type="file" class="form-control-file" id="photoURL" accept="image/jpeg,image/jpg,image/png,image/x-png" aria-describedby="Speaker Photo">
      </div>
      <div class="form-group" style="padding-bottom: 25px;">
        <input type="checkbox" id="featured" [(ngModel)]="speaker.featured" name="featured">
        <label for="featured">Featured Speaker</label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="googleLink" class="form-control" [(ngModel)]="speaker.googleLink" name="googleLink">
        <label for="googleLink">Google+: <em>(only add the handle)</em></label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="facebookLink" class="form-control" [(ngModel)]="speaker.facebookLink" name="facebookLink">
        <label for="facebookLink">Facebook: <em>(only add the handle)</em></label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="twitterLink" class="form-control" [(ngModel)]="speaker.twitterLink" name="twitterLink">
        <label for="twitterLink">Twitter: <em>(only add the handle)</em></label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="linkedinLink" class="form-control" [(ngModel)]="speaker.linkedinLink" name="linkedinLink">
        <label for="linkedinLink">LinkedIn: <em>(only add the handle)</em></label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="githubLink" class="form-control" [(ngModel)]="speaker.githubLink" name="githubLink">
        <label for="githubLink">GitHub: <em>(only add the handle)</em></label>
      </div>
      <div class="md-form">
        <input mdbActive type="text" id="websiteLink" class="form-control" [(ngModel)]="speaker.websiteLink" name="websiteLink">
        <label for="websiteLink">Website:</label>
      </div>
    </form>
    <br><br>
    <div class="text-center">
    <button class="btn btn-primary" (click)="addSpeaker()">Save Changes</button>
    </div>
  </section>
</div>
